* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box  ;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

header {
    /* background-color: bisque; */
    /* align-items: center; */
    /* margin: 0 120px; */
}

nav {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 120px;
    padding-right: 120px;
}

.menu {
    display: flex;
    /* text-decoration: none; */
    /* list-style-type: none; */
    /* justify-content: center; */
   
    gap: 32px;
    list-style: none;
}

.menu li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}

.btn {
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #469165;
    padding: 13px 16px 13px 16px;
    border: none;
    border-radius: 4px;
}
/* img {
    margin-left: 120px;
}

button {
    margin-right: 120px;
    /* margin-left: 346px; */
} */

